// Color variable
$algonquinGreenLight: #42B029;
$algonquinGreenDark: #006937;
$white: #ffffff;
$facebook: #3B5998;
$twitter: #33ccff;
$youtube: #ee0511;

// Gradient variable 
$gradient-color: linear-gradient(230deg, rgba(57,255,131,1) 0%, rgba(143,211,244,1) 100%);


// Font family
$body-text: Arial, "Helvetica Neue", Helvetica, sans-serif; 
$heading: 'GothamLightRegular';
$sub-heading: 'freightDispMedium';

