// import _bootstrap.scss partial file from the node_modules
@import 'custom-variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/aos/src/sass/aos.scss';
body {
    background-color: white; // Extra large devices (large desktops, 1200px and up)
    // @include media-breakpoint-up(xl) {
    //    }
    // }
}

.row {
    padding: 2rem;
}

//icons
.fab {
    width: 50px;
}

//making a class to add margin top and Bottom
.giveMeSpace{
  margin-top:20px;
  margin-bottom:20px;
}

//headings
h1 {
  @media (max-width: 991px) {
    font-size: 2rem;
  }
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

//seperator
.seperator {
    display: inline-block;
    width: 56px;
    height: 4px;
    background-color: #ffffff;
    margin: 1.5rem 0;
}

//class to make background-color light green
.algonquinGreenLight {
    background-color: $algonquinGreenLight;
}

//class to make text color dark green
.algonquinGreenDark {
    color: $algonquinGreenDark;
}

//change bootstrap class to be chosen colors
.btn-primary {
    background-color: $algonquinGreenLight;
    border: 2px solid $algonquinGreenDark;
}

.btn-secondary {
    background-color: $white;
    border-color: #ffffff;
    color: $algonquinGreenLight;
}

//chaning styles of bootstrap cards
.card {
    margin: 1rem;
    .card-text {
        color: white;
    }
    .card-title {
        color: white;
        font-size: 2rem;
    }

    .card-top {
        height: 50%;
        margin: 5px;
        overflow: hidden;
    }
}

//nav links
.nav-item {
    a {
        color: white;
        font-size: 1.5rem;
    }
}

//changing size of bootstrap slideshow
.carousel-inner {
    width: 100%;
    max-height: 600px !important;
}

// -------------------------------------------------------------
// product css
//change to the black color of the second row
.blackbox {
    background-color: black;
    padding: 10px;
}

//change the text color
.col {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

//change to the full
.btn-primary {
    border: 0;
    padding: 0.1rem 1rem;
    margin: 0.1rem;
}

//change H5
.h5 {
    border: 0;
    margin: 1rem;
    padding: 0;
}

.row {
    border: 0;
    margin: 0;
    padding: 0;
}

//change button row
.button-row {
    margin: 10px;
}

.paraphraes {
    border: 0;
    margin: 0rem 1rem 1rem 1rem;
    padding: 0;
}

//nav links


.buy-me:hover {
    background-color: $algonquinGreenLight;
}

.buy-me:active {
    background-color: blue;
}

.buy-me {
    background-color: $algonquinGreenLight;
}

.btn-lg{
    background-color: $algonquinGreenLight;
    color: white;
}

.rounded{
  background-color:  $algonquinGreenLight;
  height: 32.8px;
  border-radius:5px !important;
  margin: 1.6px;padding: 1.6px  16px ;
  text-align: center;
}

.btn:disabled{
  width: 100%;
  height: 32.8px;
  margin: 1.6px;
  padding: 1.6px  16px ;

}


// //change thridRow
// .thridRow{padding: 10px 0;}
//
// .bg-light{padding:0;}
//
// .mx-lg-n5{padding:0;}
// h5,h6{margin-top: 8px;}
// .py-3{padding:0}
// .px-lg-5{padding:10px;}
//
// //chang the soldOut color
// .soldOut{background-color: gray;
// width:100%;}
// .soldOut :hover{background-color: gray;
// }
//to the Top
.top {
    position: fixed;
    z-index: 3;
    Bottom: 40px;
    Right: 40px;
}

.top:hover {
    transition: transform .25s ease-in-out;
    transform: scale(1.2);
}



//_____________________________________________________
// Service page css
// .service_banner {
//   position: relative;
//   z-index: 1;
//   .overlay{
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     content: '';
//     background-color: rgba(66, 176, 41, 0.50);
//     display: block;
//     width: 100%;
//     height: 100%;
//     filter: contrast(130%);
//   }
//   .image_overlay_text {
//     position: absolute;
//     left: 0;
//     bottom: -50%;
//   }
//   .gradient {
//     background: $gradient-color;
//     padding: 4rem 3rem 0;
//   }
// }
// .service_content {
//   padding: 18rem 0 1rem;
//   .seperator {
//     background-color: $algonquinGreenLight;
//   }
//   img{
//     position: relative;
//     z-index: 2;
//   }
//   .img-overlay:before{
//     content: '';
//     display: block;
//     position: absolute;
//     top: -15px;
//     left: -15px;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     height: 100%;
//     background: $gradient-color;
//   }
// }
