// import _bootstrap.scss partial file from the node_modules
@import 'custom-variables';
@import '../node_modules/bootstrap/scss/bootstrap';
body {
  background-color: white;
}

.row{
  padding:2rem;
}

//icons
.fab{
  width:50px;
}

//class to make background-color light green
.algonquinGreenLight{
  background-color:$algonquinGreenLight;
}

//class to make text color dark green
.algonquinGreenDark{
color:$algonquinGreenDark;
}

//change bootstrap class to be chosen colors
.btn-primary{
  background-color:$algonquinGreenLight;
  border:2px solid $algonquinGreenDark;
}

//chaning styles of bootstrap cards
.card{
margin:1rem;
    .card-text{
      color:white;
    }
    .card-title{
      color:white;
      font-size:2rem;
    }

    .card-top{
      height:50%;
      margin:5px;
      overflow:hidden;
    }
}

//nav links
.nav-item{
  a{
    color:white;
    font-size: 1.5rem;
  }
}

//changing size of bootstrap slideshow
.carousel-inner{
  width:100%;
  max-height: 600px !important;
}

// -------------------------------------------------------------

//change to the black color of the second row
.blackbox
{background-color: black;
  padding:10px;}

//change the text color
.col
{background-color: black;
color: white;}

//change to the full
.btn-primary{border: 0;
padding: 10px 100px;
margin: 10px;
margin-right: 0px;}

//change thridRow
.thridRow{padding: 10px 0;}

.bg-light{padding:0;}

.mx-lg-n5{padding:0;}
h5,h6{margin-top: 8px;}
.py-3{padding:0}
.px-lg-5{padding:10px;}

//chang the soldOut color
.soldOut{background-color: gray;}
